/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.headerTitleWithLogo {
  color: #ffffff;
}

a:link {
  color: #008ce0;
}

.toc-headings a {
  color: #000000;
}

.logo {
  margin-top: 2px;
  max-height: 20px;
}

.showcase {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.showcase .link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  margin: 5px;
  padding: 5px;
}

.showcase .link:hover {
  text-decoration: underline;
}

.showcase .link .caption {
  line-height: 20px;
  height: 20px;
}

.showcase .link img {
  max-height: 110px;
  padding: 20px;
  width: 110px;
  align-self: center;
}

@media only screen and (max-width: 735px) {
  .showcase .link {
    height: 134px;
  }

  .showcase .link img {
    max-height: 64px;
    padding: 20px;
    width: 64px;
  }
}