:root {
  --ifm-color-primary: #252e37;
  --ifm-color-primary-dark: #1d242c;
  --ifm-color-primary-darker: #161b21;
  --ifm-color-primary-darkest: #0e1216;
  --ifm-color-primary-light: #50575e;
  --ifm-color-primary-lighter: #7c8187;
  --ifm-color-primary-lightest: #a7abaf;
  --ifm-link-hover-decoration: none;
  --ifm-code-font-size: 90%;
  --ifm-font-size-base: 16px;
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lighter);
}

html[data-theme='dark'] {
  --ifm-hero-background-color: var(--ifm-color-primary-dark);
  --ifm-color-primary: var(--ifm-color-primary-lightest);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lighter);
}

.button {
  border: 1px solid var(--ifm-color-primary);
  border-radius: 3px;
  color: var(--ifm-color-primary);
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
}

.button:hover {
  background: var(--ifm-color-primary);
  color: #fff;
}

.headerTitleWithLogo {
  color: #ffffff;
}

a:link {
  color: #008ce0;
}

a:visited {
  color: purple;
}

.navbar__brand {
  max-height: 20px;
}

.navbar__logo {
  width: 92px;
  box-sizing: border-box;
}

.footer .footer__logo {
  height: 58px;
}

html[data-theme='dark'] .navbar__logo {
  background: url(/img/new_logo-white.svg) no-repeat;
  background-size: contain;
  padding-left: 92px;
}

.homeSplashFade {
  padding-top: 50px;
}

.toc-headings a {
  color: #000000;
}

.logo {
  margin-top: 2px;
  max-height: 20px;
}
