.showcase {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.showcaseLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.showcaseLink:hover {
  text-decoration: underline;
}

.showcaseCaption {
  line-height: 20px;
  height: 20px;
}

.showcaseLink img {
  max-height: 110px;
  padding: 20px;
  width: 110px;
  align-self: center;
}

@media only screen and (max-width: 735px) {
  .showcaseLink {
    height: 134px;
  }

  .showcaseLink img {
    max-height: 64px;
    padding: 20px;
    width: 64px;
  }
}
